# **SERIES**

In [1]:
import numpy as np
import pandas as pd

In [10]:
labels = ['a','b','c']
my_list = [10,20,30]
my_arr = np.array([10,20,30])
d = {1:10,2:20,3:30}

In [11]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [12]:
pd.Series(my_list,index= labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(my_arr)

0    10
1    20
2    30
dtype: int64

In [15]:
pd.Series(d)

1    10
2    20
3    30
dtype: int64

# **DATA FRAMES**

In [16]:
# CREATING DATAFRAMES

data = {
    "Name": ["Rajesh", "Ananya", "Bharath", "Ayesha", "Bhoomika"],
    "Age": [22, 21, 23, 22, 21],
    "Department": ["AIML", "CSE", "AIML", "AIML", "ECE"],
    "Marks": [85, 90, 78, 88, 92],
    "Placed": ["Yes", "Yes", "No", "Yes", "No"]
}

In [18]:
df = pd.DataFrame(data)

In [19]:
df

       Name  Age Department  Marks Placed
0    Rajesh   22       AIML     85    Yes
1    Ananya   21        CSE     90    Yes
2   Bharath   23       AIML     78     No
3    Ayesha   22       AIML     88    Yes
4  Bhoomika   21        ECE     92     No

In [28]:
data_list = [
    [101, "Rajesh", 85],
    [102, "Amit", 78],
    [103, "Priya", 92],
    [104, "Neha", 88],
    [105, "Karan", 75]
]
df2 = pd.DataFrame(data_list)
columns = ["age","name","marks"]
df2 = pd.DataFrame(data_list,columns= columns)

In [29]:
df2

   age    name  marks
0  101  Rajesh     85
1  102    Amit     78
2  103   Priya     92
3  104    Neha     88
4  105   Karan     75

In [30]:
df2["name"]

0    Rajesh
1      Amit
2     Priya
3      Neha
4     Karan
Name: name, dtype: object

In [32]:
df2[["name","marks"]]

     name  marks
0  Rajesh     85
1    Amit     78
2   Priya     92
3    Neha     88
4   Karan     75

In [34]:
df2["result"] = ["A","B+","A+","A","B"]

In [35]:
df2

   age    name  marks result
0  101  Rajesh     85      A
1  102    Amit     78     B+
2  103   Priya     92     A+
3  104    Neha     88      A
4  105   Karan     75      B

In [38]:
df2.drop("result",axis=1)

   age    name  marks
0  101  Rajesh     85
1  102    Amit     78
2  103   Priya     92
3  104    Neha     88
4  105   Karan     75

In [39]:
df2

   age    name  marks result
0  101  Rajesh     85      A
1  102    Amit     78     B+
2  103   Priya     92     A+
3  104    Neha     88      A
4  105   Karan     75      B

In [40]:
df2.drop("result",axis=1,inplace= True)

In [41]:
df2

   age    name  marks
0  101  Rajesh     85
1  102    Amit     78
2  103   Priya     92
3  104    Neha     88
4  105   Karan     75

In [42]:
df2.loc[0]

age         101
name     Rajesh
marks        85
Name: 0, dtype: object

In [43]:
df2.iloc[0]

age         101
name     Rajesh
marks        85
Name: 0, dtype: object

In [47]:
df2.loc[[0,1]]

   age    name  marks
0  101  Rajesh     85
1  102    Amit     78

In [48]:
df2.loc[[3,4]]

   age   name  marks
3  104   Neha     88
4  105  Karan     75

In [49]:
df2

   age    name  marks
0  101  Rajesh     85
1  102    Amit     78
2  103   Priya     92
3  104    Neha     88
4  105   Karan     75

In [50]:
data_list = [
    [101, "Rajesh", 85],
    [102, "Amit", 78],
    [103, "Priya", 92],
    [104, "Neha", 88],
    [105, "Karan", 75]
]
df2 = pd.DataFrame(data_list)
columns = ["age","name","marks"]
df2 = pd.DataFrame(data_list,columns= columns)

In [51]:
df2

   age    name  marks
0  101  Rajesh     85
1  102    Amit     78
2  103   Priya     92
3  104    Neha     88
4  105   Karan     75

In [52]:
df2["result"] = ["A","B+","A+","A","B"]

In [53]:
df2

   age    name  marks result
0  101  Rajesh     85      A
1  102    Amit     78     B+
2  103   Priya     92     A+
3  104    Neha     88      A
4  105   Karan     75      B

In [54]:
df2[df2["marks"] > 85]

   age   name  marks result
2  103  Priya     92     A+
3  104   Neha     88      A

In [59]:
df2[(df2["marks"] > 75) & (df2["result"] == "A")]

   age    name  marks result
0  101  Rajesh     85      A
3  104    Neha     88      A

In [60]:
df2[(df2["marks"] > 75) & (df2["result"] == "A+")]

   age   name  marks result
2  103  Priya     92     A+

# **MISSING DATA**

In [70]:
data_dict = {
    "a": [1, 2, 3, 4, 5],
    "b": [10, np.nan, 30, 40, 50],
    "c": [np.nan, 1, 0, 1, np.nan],
    "d": [100, 200, 300, np.nan, 500]
}

df = pd.DataFrame(data_dict)

print(df)

   a     b    c      d
0  1  10.0  NaN  100.0
1  2   NaN  1.0  200.0
2  3  30.0  0.0  300.0
3  4  40.0  1.0    NaN
4  5  50.0  NaN  500.0

In [71]:
df.isna()

       a      b      c      d
0  False  False   True  False
1  False   True  False  False
2  False  False  False  False
3  False  False  False   True
4  False  False   True  False

In [72]:
df.isna().sum()

a    0
b    1
c    2
d    1
dtype: int64

In [73]:
df.isna().any()

a    False
b     True
c     True
d     True
dtype: bool

In [74]:
df

   a     b    c      d
0  1  10.0  NaN  100.0
1  2   NaN  1.0  200.0
2  3  30.0  0.0  300.0
3  4  40.0  1.0    NaN
4  5  50.0  NaN  500.0

In [75]:
df.dropna()

   a     b    c      d
2  3  30.0  0.0  300.0

In [78]:
df.dropna(thresh=3)

   a     b    c      d
0  1  10.0  NaN  100.0
1  2   NaN  1.0  200.0
2  3  30.0  0.0  300.0
3  4  40.0  1.0    NaN
4  5  50.0  NaN  500.0

In [79]:
df

   a     b    c      d
0  1  10.0  NaN  100.0
1  2   NaN  1.0  200.0
2  3  30.0  0.0  300.0
3  4  40.0  1.0    NaN
4  5  50.0  NaN  500.0

In [80]:
df.fillna(0)

   a     b    c      d
0  1  10.0  0.0  100.0
1  2   0.0  1.0  200.0
2  3  30.0  0.0  300.0
3  4  40.0  1.0    0.0
4  5  50.0  0.0  500.0

In [81]:
values = {"a":10,"b":20,"c":30,"d":40}
df.fillna(value=values)

   a     b     c      d
0  1  10.0  30.0  100.0
1  2  20.0   1.0  200.0
2  3  30.0   0.0  300.0
3  4  40.0   1.0   40.0
4  5  50.0  30.0  500.0

In [82]:
df.fillna(df.mean)

,a,b,c,d
0,1,10.0,<bound method DataFrame.mean of a b ...,100.0
1,2,<bound method DataFrame.mean of a b ...,1.0,200.0
2,3,30.0,0.0,300.0
3,4,40.0,1.0,<bound method DataFrame.mean of a b ...
4,5,50.0,<bound method DataFrame.mean of a b ...,500.0

In [83]:
import pandas as pd

students = pd.DataFrame({
    "stud_id": [101, 102, 103, 104],
    "name": ["Raj", "Amit", "Neha", "Priya"],
    "marks": [85, 78, 92, 88]
})

print(students)

   stud_id   name  marks
0      101    Raj     85
1      102   Amit     78
2      103   Neha     92
3      104  Priya     88

In [87]:
details = pd.DataFrame({
    "stud_id": [101, 102, 103, 105],
    "city": ["Delhi", "Mumbai", "Chennai", "Kolkata"],
    "age": [20, 21, 19, 22]
})

print(details)

   stud_id     city  age
0      101    Delhi   20
1      102   Mumbai   21
2      103  Chennai   19
3      105  Kolkata   22

In [88]:
pd.merge(students,details,on="stud_id",how="inner")

   stud_id  name  marks     city  age
0      101   Raj     85    Delhi   20
1      102  Amit     78   Mumbai   21
2      103  Neha     92  Chennai   19

In [89]:
pd.merge(students,details,on="stud_id",how="outer")

   stud_id   name  marks     city   age
0      101    Raj   85.0    Delhi  20.0
1      102   Amit   78.0   Mumbai  21.0
2      103   Neha   92.0  Chennai  19.0
3      104  Priya   88.0      NaN   NaN
4      105    NaN    NaN  Kolkata  22.0

In [90]:
pd.merge(students,details,on="stud_id",how="left")

   stud_id   name  marks     city   age
0      101    Raj     85    Delhi  20.0
1      102   Amit     78   Mumbai  21.0
2      103   Neha     92  Chennai  19.0
3      104  Priya     88      NaN   NaN

In [91]:
pd.merge(students,details,on="stud_id",how="right")

   stud_id  name  marks     city  age
0      101   Raj   85.0    Delhi   20
1      102  Amit   78.0   Mumbai   21
2      103  Neha   92.0  Chennai   19
3      105   NaN    NaN  Kolkata   22

In [93]:
students

   stud_id   name  marks
0      101    Raj     85
1      102   Amit     78
2      103   Neha     92
3      104  Priya     88

In [94]:
details

   stud_id     city  age
0      101    Delhi   20
1      102   Mumbai   21
2      103  Chennai   19
3      105  Kolkata   22

In [95]:
pd.concat([students,details])

   stud_id   name  marks     city   age
0      101    Raj   85.0      NaN   NaN
1      102   Amit   78.0      NaN   NaN
2      103   Neha   92.0      NaN   NaN
3      104  Priya   88.0      NaN   NaN
0      101    NaN    NaN    Delhi  20.0
1      102    NaN    NaN   Mumbai  21.0
2      103    NaN    NaN  Chennai  19.0
3      105    NaN    NaN  Kolkata  22.0

In [98]:
pd.concat([students,details],axis=1)

   stud_id   name  marks  stud_id     city  age
0      101    Raj     85      101    Delhi   20
1      102   Amit     78      102   Mumbai   21
2      103   Neha     92      103  Chennai   19
3      104  Priya     88      105  Kolkata   22

In [101]:
import pandas as pd

products = pd.DataFrame({
    "product_id": [101, 102, 103, 104],
    "product_name": ["Laptop", "Mobile", "Tablet", "Monitor"],
    "price": [55000, 20000, 30000, 15000]
})

print(products)

   product_id product_name  price
0         101       Laptop  55000
1         102       Mobile  20000
2         103       Tablet  30000
3         104      Monitor  15000

In [102]:
sales = pd.DataFrame({
    "product_id": [101, 102, 103, 105],
    "quantity_sold": [5, 10, 7, 3],
    "city": ["Delhi", "Mumbai", "Chennai", "Kolkata"]
})

print(sales)

   product_id  quantity_sold     city
0         101              5    Delhi
1         102             10   Mumbai
2         103              7  Chennai
3         105              3  Kolkata

In [103]:
products.join(sales)

ValueError: columns overlap but no suffix specified: Index(['product_id'], dtype='object')

In [104]:
pd.merge(products, sales, on="product_id")

   product_id product_name  price  quantity_sold     city
0         101       Laptop  55000              5    Delhi
1         102       Mobile  20000             10   Mumbai
2         103       Tablet  30000              7  Chennai

# **GROUPBY AND AGGREGATION**

In [105]:
import pandas as pd

data = pd.DataFrame({
    "department": ["IT", "HR", "IT", "HR", "Finance", "IT", "Finance"],
    "employee": ["Raj", "Amit", "Neha", "Priya", "Karan", "Riya", "Vikas"],
    "salary": [60000, 50000, 65000, 52000, 70000, 62000, 72000],
    "age": [25, 30, 28, 32, 35, 26, 38]
})

print(data)

  department employee  salary  age
0         IT      Raj   60000   25
1         HR     Amit   50000   30
2         IT     Neha   65000   28
3         HR    Priya   52000   32
4    Finance    Karan   70000   35
5         IT     Riya   62000   26
6    Finance    Vikas   72000   38

In [109]:
dept =data.groupby('department')
dept
for i ,v in dept:
  print(i)
  print(v)

Finance
  department employee  salary  age
4    Finance    Karan   70000   35
6    Finance    Vikas   72000   38
HR
  department employee  salary  age
1         HR     Amit   50000   30
3         HR    Priya   52000   32
IT
  department employee  salary  age
0         IT      Raj   60000   25
2         IT     Neha   65000   28
5         IT     Riya   62000   26

In [111]:
dept =data.groupby('department')['salary'].sum()
dept

department
Finance    142000
HR         102000
IT         187000
Name: salary, dtype: int64

In [112]:
dept =data.groupby('employee')['salary'].sum()
dept

employee
Amit     50000
Karan    70000
Neha     65000
Priya    52000
Raj      60000
Riya     62000
Vikas    72000
Name: salary, dtype: int64

In [113]:
dept =data.groupby('department')['age'].sum()
dept

department
Finance    73
HR         62
IT         79
Name: age, dtype: int64

In [114]:
dept =data.groupby('department')['age'].mean()
dept

department
Finance    36.500000
HR         31.000000
IT         26.333333
Name: age, dtype: float64

In [115]:
data['age'].mean()

np.float64(30.571428571428573)

In [116]:
data['salary'].mean()

np.float64(61571.42857142857)

In [117]:
data['salary'].median()

62000.0

In [118]:
data['salary'].std()

8363.753998796292

In [124]:
data['salary'].agg(['mean','max','min'])

mean    61571.428571
max     72000.000000
min     50000.000000
Name: salary, dtype: float64

# **PIVOT TABLES**

In [125]:
import pandas as pd

data = pd.DataFrame({
    "Date": ["2024-01", "2024-01", "2024-01",
             "2024-02", "2024-02", "2024-02",
             "2024-03", "2024-03"],

    "Region": ["North", "South", "East",
               "North", "South", "East",
               "North", "South"],

    "Product": ["Laptop", "Laptop", "Laptop",
                "Mobile", "Mobile", "Mobile",
                "Tablet", "Tablet"],

    "Sales": [50000, 45000, 40000,
              30000, 28000, 25000,
              20000, 22000],

    "Quantity": [5, 4, 3,
                 10, 9, 8,
                 6, 7]
})

print(data)

      Date Region Product  Sales  Quantity
0  2024-01  North  Laptop  50000         5
1  2024-01  South  Laptop  45000         4
2  2024-01   East  Laptop  40000         3
3  2024-02  North  Mobile  30000        10
4  2024-02  South  Mobile  28000         9
5  2024-02   East  Mobile  25000         8
6  2024-03  North  Tablet  20000         6
7  2024-03  South  Tablet  22000         7

In [130]:
pd.pivot_table(data,values='Sales',index='Region',columns='Product')

Product   Laptop   Mobile   Tablet
Region
East     40000.0  25000.0      NaN
North    50000.0  30000.0  20000.0
South    45000.0  28000.0  22000.0

In [131]:
pd.pivot_table(data,values='Sales',index='Region',columns='Product',aggfunc='median')

Product   Laptop   Mobile   Tablet
Region
East     40000.0  25000.0      NaN
North    50000.0  30000.0  20000.0
South    45000.0  28000.0  22000.0

In [133]:
pd.pivot_table(data,values=['Sales','Quantity'],index='Region',columns='Product')

        Quantity                  Sales
Product   Laptop Mobile Tablet   Laptop   Mobile   Tablet
Region
East         3.0    8.0    NaN  40000.0  25000.0      NaN
North        5.0   10.0    6.0  50000.0  30000.0  20000.0
South        4.0    9.0    7.0  45000.0  28000.0  22000.0

In [137]:
pd.crosstab(data['Region'],data['Sales'])

Sales   20000  22000  25000  28000  30000  40000  45000  50000
Region
East        0      0      1      0      0      1      0      0
North       1      0      0      0      1      0      0      1
South       0      1      0      1      0      0      1      0

# **OPERATIONS**

In [138]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "A": [10, 20, 30, 40, 50, 60, 70, 80],
    "B": [5, 15, 25, 35, 45, 55, 65, 75],
    "C": [2, 4, np.nan, 8, 10, 12, 14, 16],
    "D": [100, 200, 300, 400, 500, 600, 700, 800]
})

print(df)

    A   B     C    D
0  10   5   2.0  100
1  20  15   4.0  200
2  30  25   NaN  300
3  40  35   8.0  400
4  50  45  10.0  500
5  60  55  12.0  600
6  70  65  14.0  700
7  80  75  16.0  800

In [140]:
df.shape

(8, 4)

In [141]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       8 non-null      int64
 1   B       8 non-null      int64
 2   C       7 non-null      float64
 3   D       8 non-null      int64
dtypes: float64(1), int64(3)
memory usage: 388.0 bytes

In [143]:
df.describe()

               A          B          C           D
count   8.000000   8.000000   7.000000    8.000000
mean   45.000000  40.000000   9.428571  450.000000
std    24.494897  24.494897   5.126960  244.948974
min    10.000000   5.000000   2.000000  100.000000
25%    27.500000  22.500000   6.000000  275.000000
50%    45.000000  40.000000  10.000000  450.000000
75%    62.500000  57.500000  13.000000  625.000000
max    80.000000  75.000000  16.000000  800.000000

In [144]:
df['A']+10

0    20
1    30
2    40
3    50
4    60
5    70
6    80
7    90
Name: A, dtype: int64

In [145]:
def square(x):
  return x**2

In [147]:
df['B'] = df['B'].apply(square)

In [148]:
df

    A     B     C    D
0  10    25   2.0  100
1  20   225   4.0  200
2  30   625   NaN  300
3  40  1225   8.0  400
4  50  2025  10.0  500
5  60  3025  12.0  600
6  70  4225  14.0  700
7  80  5625  16.0  800

In [149]:
df['E'] = df['B'].apply(square)

In [150]:
df

    A     B     C    D         E
0  10    25   2.0  100       625
1  20   225   4.0  200     50625
2  30   625   NaN  300    390625
3  40  1225   8.0  400   1500625
4  50  2025  10.0  500   4100625
5  60  3025  12.0  600   9150625
6  70  4225  14.0  700  17850625
7  80  5625  16.0  800  31640625